{% extends 'SbtsDashboardBundle::layout.html.twig' %}

{% block title %}{{ 'app.dashboard' | trans }}{% endblock %}
{% block body %}
    <div class="row">
        <h4>{{ 'app.dashboard' | trans }}</h4>
    </div>
{% endblock %}
