{% extends 'SbtsIssueBundle::layout.html.twig' %}

{% block title %}{{ 'issue.form.create' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
