{% extends 'SbtsCommentBundle::layout.html.twig' %}

{% block title %}{{ 'comment.form.update' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include 'SbtsCommentBundle:Default:form.html.twig' %}
        </div>
    </div>
{% endblock %}
