{% extends 'SbtsUserBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h4>{{ 'user.profile' | trans }}</h4>
            {% include 'SbtsUserBundle:Profile:show_content.html.twig' %}
        </div>

        <div class="col-md-6">
            <h4>{{ 'user.activity' | trans }}</h4>
        </div>
    </div>
{% endblock %}
