{% extends 'SbtsUserBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        {% for user in users %}
            <p>
                <a href="{{ path('sbts_user_profile', { name: user.username }) }}">{{ user.username }}</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
